@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-container {
    @apply fixed top-0 left-0 h-screen w-16 flex flex-col bg-gray-900 shadow-lg z-50;
  }
  .navbar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
    hover:bg-blue-600 bg-gray-800 text-blue-400 hover:text-white hover:rounded-xl
    rounded-3xl transition-all duration-300 ease-linear cursor-pointer shadow-lg;
  }

  .navbar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white
    bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  .navbar-hr {
    @apply bg-gray-800 border border-gray-800 rounded-full mx-2;
  }
  
  .project-bar {
    @apply w-64 h-screen m-0 ml-16 bg-gray-800 transition-all duration-150 overflow-hidden
    shadow-lg ease-linear z-10;
  }

  .project-container {
    @apply flex flex-col items-center justify-start p-1 m-0;
  }

  .project-block {
    @apply flex items-center justify-center h-16 m-0 p-0;
  }

  .project-block-text {
    @apply text-lg tracking-wider font-bold text-gray-400 mr-auto ml-4 my-auto align-middle;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2;
  }

  .dropdown-header {
    @apply flex flex-row items-center justify-start mx-0 text-gray-500 cursor-pointer;
  }

  .dropdown-header-text {
    @apply text-gray-400 text-opacity-90 text-lg font-semibold;
  }

  .dropdown-header-text-selected {
    @apply text-blue-500 text-opacity-90 text-lg font-bold;
  }

  .dropdown-selection {
    @apply flex flex-row text-gray-500 hover:text-gray-300 items-center justify-evenly
    mt-1 mr-auto ml-2 cursor-pointer;
  }

  .dropdown-selection-text {
    @apply font-semibold tracking-wide mr-auto cursor-pointer;
  }
  
  .content-container {
    @apply absolute left-24 mt-6 text-gray-400;
  }

  .login-container {
    @apply relative flex h-10 w-10 mt-2 mb-2 ml-auto mr-2 hover:bg-gray-500 bg-gray-800 z-10
    hover:rounded-xl rounded-3xl transition-all duration-100 ease-linear cursor-pointer shadow-lg;
  }

  .login-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max right-12 rounded-md shadow-md text-white
    bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-right;
  }

  .user-img {
    @apply rounded-3xl;
  }
    
  .btn-default {
    @apply inline-flex items-center bg-gray-300 hover:opacity-80 text-gray-800 font-bold py-2
    px-4 rounded-lg m-3;
  }

  .btn-icon {
    @apply w-5 mr-2;
  }

  .btn-input {
    @apply inline-flex justify-center w-20 m-2 p-2 hover:bg-blue-600 bg-gray-900 text-blue-400
    hover:text-white hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear h-10
    cursor-pointer shadow-lg;
  }

  .input-form {
    @apply flex h-10;
  }
}
